body {
	background-color: #c2792a;
}

.text-one {
	/*background-color: rgb(255, 0, 42);*/
	background-color: rgba(255, 0, 42, .5);
}

.nice-font {
	font-family: sans-serif;
}

.bold {
	font-weight: bold;
}

.center-text {
	text-align: center;
}