* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.site-header {
	width: 100%;
	height: 100px;
	background-color: gray;
}

.column-left {
	width: 70%;
	float: left;
	background-color: cyan;
	min-height: 100px;
	padding: 5px;
}

	.column-left > div {
		min-height: 200px;
		float: left;
		margin: 5px;
	}

	.column-left .first {
		width: calc(70% - 10px);
		background-color: red;
	}

	.column-left .second {
		width: calc(30% - 10px);
		background-color: green;	
	}

	.column-left .third {
		width: calc(100% - 10px);
		background-color: blue;
	}

	.column-left .fourth {
		width: calc(30% - 10px);
		background-color: lime;
	}

	.column-left .fifth {
		width: calc(70% - 10px);
		background-color: silver;
	}

.column-right {
	width: 30%;	
	float: left;
	background-color: magenta;
	min-height: 500px;
	padding: 10px;
}