* {
	margin: 0;
	padding: 0;
}

.box1 {
	width: 300px;
	height: 300px;
	background-color: black;
	
	position: relative;
	bottom: -200px;


	transition: .3s ease-in-out;
}

.box1:hover {
	bottom: 0px;
}

.box2 {
	width: 500px;
	height: 500px;
	background-color: red;
	margin: 100px;

	position: relative;
}

	.box2 .box3 {
		width: 200px;
		height: 200px;
		background-color: yellow;

		position: absolute;
		bottom: 0px;
		right: 0px;
	}

.box4 {
	width: 100%;
	height: 80px;
	background-color: green;
	position: fixed;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}